# DO NOT COMMIT SENSITIVE FILES
*/*raft.db
*/*snapshots
*/*.hclic
**/unseal.txt
**/root-token.txt
*.hclic
*/data/
*/license.hclic
unseal_keys.txt
root-token.txt

vault-1/data/
vault-2/data/
vault-3/data/

