version: "3.8"

services:
  vault-1:
    image: hashicorp/vault-enterprise:1.18-ent
    container_name: vault-1
    environment:
      - VAULT_ADDR=http://vault-1:8200
    user: "root"
    security_opt:
      - no-new-privileges:false
    cap_add:
      - IPC_LOCK
    entrypoint: /bin/sh -c "mkdir -p /opt/vault/data && chmod 700 /opt/vault/data && vault server -config=/etc/vault.d/vault.hcl"
    volumes:
      - ./vault-1:/etc/vault.d
      - ./vault-1/data:/opt/vault/data
    ports:
      - "8200:8200"

  vault-2:
    image: hashicorp/vault-enterprise:1.18-ent
    container_name: vault-2
    environment:
      - VAULT_ADDR=http://vault-2:8200
    user: "root"
    security_opt:
      - no-new-privileges:false
    cap_add:
      - IPC_LOCK
    entrypoint: /bin/sh -c "mkdir -p /opt/vault/data && chmod 700 /opt/vault/data && vault server -config=/etc/vault.d/vault.hcl"
    volumes:
      - ./vault-2:/etc/vault.d
      - ./vault-2/data:/opt/vault/data
    ports:
      - "8202:8200"

  vault-3:
    image: hashicorp/vault-enterprise:1.18-ent
    container_name: vault-3
    environment:
      - VAULT_ADDR=http://vault-3:8200
    user: "root"
    security_opt:
      - no-new-privileges:false
    cap_add:
      - IPC_LOCK
    entrypoint: /bin/sh -c "mkdir -p /opt/vault/data && chmod 700 /opt/vault/data && vault server -config=/etc/vault.d/vault.hcl"
    volumes:
      - ./vault-3:/etc/vault.d
      - ./vault-3/data:/opt/vault/data
    ports:
      - "8203:8200"

